* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  color: white;
  background: black;
  font-family: "Inter", sans-serif;
  font-weight: 350;
}

.landing-popup {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}

.landing-popup p {
  margin-top: 20px;
}

.landing-popup.is-open {
  transform: translateX(0);
}

.drawer-2 {
  position: relative;
  top: -1;
}

.drawer-3 {
  font-size: 25px;
  position: relative;
  top: 3;
  right: 6;
}
