.index-creature {
  margin-left: 205px;
}

.index-box {
  margin-top: -155px;
  pointer-events: none;
}

.index-popup {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}

.index-popup p {
  margin-top: 20px;
}

.index-popup.is-open {
  transform: translateX(0);
}

.index-bottom-img {
  width: 100px;
}
