.landing-creature {
  margin-left: 205px;
}

.landing-box {
  margin-top: -155px;
  pointer-events: none;
}

.landing-buttons {
  margin-top: -146px;
  display: flex;
  gap: 32px;
  margin-left: 28px;
}

.landing-button-text {
  position: relative;
  bottom: 73;
  font-size: 20px;
}

.landing-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 100ms ease-in-out;
}
.landing-button:hover {
  transform: translateY(30px);
}
